################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Dictionary-Bench/bin
/src/Dictionary-Bench/obj
/src/Dictionary-Bench/BenchmarkDotNet.Artifacts
